allure-pytest==2.8.40
allure-python-commons==2.8.40
apipkg==1.5
astor==0.8.1
atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
decorator==5.1.1
dom==0.9
et-xmlfile==1.1.0
execnet==1.8.0
future==0.18.2
genson==1.2.2
greenlet==1.1.2
idna==2.10
iniconfig==1.1.1
jsonschema==4.4.0
lxml==4.8.0
mysql==0.0.3
mysqlclient==2.1.0
openpyxl==3.0.7
packaging==20.9
playwright==1.19.0
pluggy==0.13.1
py==1.10.0
pyee==8.1.0
pyparsing==2.4.7
pyrsistent==0.18.1
pytest==6.2.3
pytest-ast-transformer==1.0.3
pytest-forked==1.3.0
pytest-html==3.1.1
pytest-metadata==1.11.0
pytest-rerunfailures==10.2
pytest-soft-assertions==0.1.2
pytest-xdist==2.2.1
requests==2.25.1
selenium==3.141.0
self==2020.12.3
simplejson==3.17.6
six==1.15.0
soupsieve==2.3.1
termcolor==1.1.0
texttable==1.6.3
toml==0.10.2
urllib3==1.26.4
waiting==1.4.1
webdriver-manager==3.3.0
webium==1.2.1
websockets==10.1
